body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.75);
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(70,70,70,0.75);
  text-shadow: 0 1px 0 #fff;
}

pre, .bs-sidebar {
  background-color: #fafafa;
}

.gist .highlight {
  font-size: 14px !important;
}

.navbar-brand {
  font-weight: 300;
}

.bs-sidenav > li.main {
  font-size: 16px;
}

.bs-sidenav > li:not(.main) {
  margin-left: 1em;
}

.bs-sidebar .nav > .active.main > a,
.bs-sidebar .nav > .active.main > a:focus,
.bs-sidebar .nav > .active.main > a:hover {
  font-weight: bold;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active > a:focus,
.bs-sidebar .nav > .active > a:hover {
  font-weight: normal;
}

.bs-sidebar {
  overflow-y: auto;
  max-height: 90vh;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

ul > li > p {
  margin: 0;
}

ul > li > div > pre {
  margin-top: 10.5px;
}

code {
  background: rgba(0,0,0,0.04);
  color: rgba(50,50,50,0.75);
}

/* differentiate color of h* a */

h1 a,
h1 a:hover,
h1 a:focus {
    color: #68a6ce;
}

h2 a,
h2 a:hover,
h2 a:focus {
    color: #68a6ce;
}

h3 a,
h3 a:hover,
h3 a:focus {
    color: #68a6ce;
}

h4 a,
h4 a:hover,
h4 a:focus {
    color: #68a6ce;
}

h5 a,
h5 a:hover,
h5 a:focus {
    color: #68a6ce;
}
