body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.75);
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(70,70,70,0.75);
}

pre, .bs-sidebar {
  background-color: #fafafa;
}

.navbar-default {
  font-weight: 300;
}

.gist .highlight {
  font-size: 14px !important;
}

.navbar-brand {
  font-weight: 300;
}

.bs-sidenav > li.main {
  font-size: 16px;
}

.bs-sidenav > li:not(.main) {
  margin-left: 1em;
}

.bs-sidebar .nav > .active.main > a,
.bs-sidebar .nav > .active.main > a:focus,
.bs-sidebar .nav > .active.main > a:hover {
  font-weight: bold;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active > a:focus,
.bs-sidebar .nav > .active > a:hover {
  font-weight: normal;
}

.bs-sidebar {
  overflow-y: auto;
  max-height: 90%;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

ul > li > p {
  margin: 0;
}

ul > li > div > pre {
  margin-top: 10.5px;
}

code {
  background: rgba(0,0,0,0.04);
  color: rgba(50,50,50,0.75);
}
