
/* h* elements color change */

h1, h2, h3 {
  color: #419eda;
}

h4 {
  color: #f04c5c;
}

/* flatly color changes */
/* color A: 18bc9c => 419eda */

a {
    color: #419eda;
    text-decoration: none
}

a:hover, a:focus {
    color: #419eda;
    text-decoration: underline
}

.table>tfoot>.success>th {
    background-color: #419eda
}

.has-success .input-group-addon {
    color: #fff;
    background-color: #419eda;
    border-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #419eda;
    border-color: #419eda
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #419eda;
    border-color: #419eda
}

.btn-success .badge {
    color: #419eda;
    background-color: #fff
}

.btn-link {
    font-weight: normal;
    color: #419eda;
    cursor: pointer;
    border-radius: 0
}

.btn-link:focus {
    color: #419eda;
    text-decoration: underline;
    background-color: transparent
}

.nav .open>a:focus {
    background-color: #ecf0f1;
    border-color: #419eda
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #68a6ce;
    background-color: transparent
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #68a6ce;
    background-color: transparent
}

@media(max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #419eda;
        background-color: transparent
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #064974
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link:hover {
    color: #419eda
}

.navbar-inverse {
    background-color: #419eda;
    border-color: #128f76
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 10px 15px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #419eda;
    border: 1px solid transparent
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #ecf0f1;
    cursor: not-allowed;
    background-color: #419eda;
    border-color: transparent
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #419eda;
    border: 1px solid transparent;
    border-radius: 15px
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #fff;
    cursor: not-allowed;
    background-color: #419eda
}

.label-success {
    background-color: #419eda
}

a.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #419eda;
    background-color: #fff
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #419eda
}

.alert-success {
    color: #fff;
    background-color: #419eda;
    border-color: #419eda
}

.progress-bar-success {
    background-color: #419eda
}

.panel-success {
    border-color: #419eda
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #419eda;
    border-color: #419eda
}

.panel-success>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #419eda
}

.panel-success>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #419eda
}

.text-success,
.text-success:hover {
    color: #419eda
}

.has-success .help-block,
.has-success .control-label {
    color: #419eda
}

.has-success .form-control,
.has-success .form-control:focus {
    border: 2px solid #419eda
}

/* color B: 2c3e50 => 2276ad */

.text-primary {
    color: #2276ad
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #2276ad;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

output {
    display: block;
    padding-top: 11px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #2276ad;
    vertical-align: middle
}

.form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #2276ad;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.btn-primary {
    color: #fff;
    background-color: #2276ad;
    border-color: #2276ad
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #2276ad;
    border-color: #2276ad
}

.btn-primary .badge {
    color: #2276ad;
    background-color: #fff
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2276ad
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2276ad;
    outline: 0
}

.input-group-addon {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #2276ad;
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #dce4ec;
    border-radius: 4px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #2276ad;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    border-bottom-color: transparent
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2276ad
}

.navbar-default {
    background-color: #2276ad;
    border-color: #064974
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #2276ad;
    background-color: transparent
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #2276ad;
    background-color: transparent
}

@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #128f76
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #128f76
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #2276ad;
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #fff;
        background-color: #15a589
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link:hover {
    color: #2276ad
}

.label-primary {
    background-color: #2276ad
}

.thumbnail .caption {
    padding: 9px;
    color: #2276ad
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background-color: #2276ad;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #2276ad;
    border-color: #2276ad
}

.panel-default>.panel-heading {
    color: #2276ad;
    background-color: #ecf0f1;
    border-color: #ecf0f1
}

.panel-primary {
    border-color: #2276ad
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #2276ad;
    border-color: #2276ad
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #2276ad
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #2276ad
}

.text-primary,
.text-primary:hover {
    color: #2276ad
}

/* color C: 1a242f => 064974 */

.text-primary:hover {
    color: #064974
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #064974
}

.navbar-default .navbar-toggle {
    border-color: #064974
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #064974
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #064974
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #064974
}

/* color D: 202d3b => 064974 */

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #064974
}
